<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>org.jmoney8080.SwaggerEditor</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/docker</string>
        <string>run</string>
	<string>--rm</string>
	<string>-d</string>
	<string>-p</string>
	<string>9000:8080</string>
	<string>swaggerapi/swagger-editor</string>
    </array>
  </dict>
</plist>
